.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(3, 0, 0);
    text-align: center;
}

.desktop {
    padding-top: 50px;
}

.about {
    padding-top: 30px;
}

.img-brd {
    border-radius: 50%;
}

.bg-light {
    background-color: rgb(0 0 0 / 0%) !important;
}

.navbar-light .navbar-brand {
    color: rgba(245, 245, 245, 0.9);
}